body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light background color */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROxskvTSRn70mQexe5yoLfMkz2RWe99hBIPQ&s'); /* Background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header a{
    color: azure;
}
section h1{
    color:rgb(217, 255, 47);
}
form{
    color:rgb(217, 255, 47);
}



.table-responsive {
    overflow-x: auto; /* Enables horizontal scrolling if necessary */
}

